<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Casellas Lab Site - <%= @item[:title] %></title>

        <link rel="stylesheet" href="/assets/css/bootstrap.css" />
        <link rel="stylesheet" href="/assets/css/justified-nav.css" />
        <link rel="stylesheet" href="/assets/css/font-awesome.css" />

	<style>
	.container {
		font-family:"Palatino Linotype";
		font-size:18px;
	}
	.mymid {
		margin:0 auto;
	}
}
	</style> 

<!--[if lt IE 9]>
      <script src="/assets/js/html5shiv.js"></script>
      <script src="/assets/js/respond.js"></script>  
<![endif]--> 

  </head>
  <body style="background-color: rgb(108,123,139);">

  <div class="container">
	<!-- Navigation Bar and header
	===================================================  -->
      <div class="masthead" style="padding-bottom:0px;">
        <ul class="nav nav-justified">
          <li><a href="/index.html">Home</a></li>
          <li><a href="/Research/index.html" data-toggle="tooltip">Research</a></li>
          <li><a href="/People/index.html">People</a></li>
          <li><a href="/Publications/index.html">Publications</a></li>
          <li><a href="/Regulome/index.html">Regulome</a></li>
          <li class="active"><a href="/Join/index.html">Join</a></li>
        </ul>
      </div> <!-- /masthead -->

	<!-- Slideshow
	===================================================  -->
	<%= yield %>  

</div> <!-- end container -->
<br><br>        
</div>

                <!--[if lt IE 9]>
                        <script src="/assets/js/require.js"></script>
                <![endif]-->
        <script src="/assets/js/jquery.js"></script>
        <script src="/assets/js/bootstrap.js"></script>
        <!--[if lt IE 9]>
                     <script src="/assets/js/css3-mediaqueries.js"></script>
                <![endif]-->
 


  </body>
</html>
