<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Casellas Lab Site - <%= @item[:title] %></title>

	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.css">
	<link rel="stylesheet" href="/assets/css/justified-nav.css">
	<style>
	.container {
		font-family:"Adobe Garamond Pro";
		font-size:18px;
	}
	.col-lg-12 {
		vertical-align:middle;
		font-family:"Adobe Garamond Pro";
    }
	</style>

  </head>
  <body style="background-color: rgb(108,123,139);">

  <div class="container">
	<!-- Navigation Bar and header
	===================================================  -->
      <div class="masthead" style="padding-bottom:0px;">
        <ul class="nav nav-justified">
          <li><a href="/index.html">Home</a></li>
          <li class="active"><a href="/Research/index.html">Research</a></li>
          <li><a href="/People/index.html">People</a></li>
          <li><a href="/Publications/index.html">Publications</a></li>
          <li><a href="/Regulome/index.html">Regulome</a></li>
          <li><a href="/Join/index.html">Join</a></li>
        </ul>
      </div> <!-- /masthead -->

	<!-- Slideshow
	===================================================  -->
	<%= yield %>  
  </div><br><br>
	<!-- Script for change speed of carousel -->
	<script src="/assets/js/jquery.js"></script>
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="/assets/js/bootstrap.js"></script>
	<script src=”http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.js”></script>
<!--	<script src="/assets/js/holder.js"></script> -->
  </body>
</html>
